* {
  border-radius: 0px !important;
  box-shadow: none !important;
}
@-moz-document url-prefix("about:") {
  :root, body {
    background-color: transparent !important;
    background-image: none !important;
  }
}
